# Ignore Python cache folders
__pycache__/
*.py[cod]

# Ignore model weights
*.pth
*.pt

# macOS system files
.DS_Store

# preloaded models
Renata-DQN/ERNIE_RNA
RNA-FM/

# hyperparam configuration
Renata-DQN/top5_hyperparams.json
